* {
  box-sizing: border-box;
}

*,
*::before,
*::after,
h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media(min-width: 1025px) {
    overflow-y: scroll;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

body._lock {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
}

ul, ol, li {
  list-style: none;
}