@import './normalize';
@import './utils/fonts';
@import './utils/variables';
@import './base';
@import './utils/utils';


@import './components/sectionTitle';
@import './components/swiper';
@import './components/buttons';



@import './sections/header';
@import './sections/hero';





.our-procedures-section .custom-container {
  position: relative;
}






.menu__icon,
.logo-burger {
  display: none;
}

/* Lightbox popup */
.lightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(1, 31, 74, 0.40);
  opacity: 0;
  pointer-events: none;
  z-index: 999;
  transition: opacity 200ms linear;
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox .popup-form {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 42px 144px;
  transform: scale(0.9);
  transition: transform 200ms ease-in-out;
  flex-wrap: wrap;
  width: 100%;
  max-width: 722px;
  height: 100%;
  max-height: 680px;
  border-radius: 48px;
  overflow-y: auto;
  -ms-overflow-style: none;  /* hidden scrollbarIE и Edge */
  scrollbar-width: none;  /* hidden scrollbar Firefox */
}

/* hidden scrollbar Chrome, Safari и Opera */
.popup-form::-webkit-scrollbar {
  display: none;
}

.popup-form-title {
  color: var(--primary-main-color-lighter);
  text-align: center;
  font-family: Play;
  font-size: 40px;
  font-weight: var(--secondary-font-weight);
  line-height: normal;
  margin-bottom: 18px;
}

.popup-form-input {
  margin-bottom: 24px;
  padding-right: 32px;
  padding-left: 32px;
}

.lightbox.is-open .popup-form {
  transform: scale(1);
}

.popup-button {
  position: absolute;
  top: 42px;
  right: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.popup-button:hover,
.popup-button:focus {
 border: 1px solid var(--primary-main-color-lighter);
}

/* about-us section */


.highlighted-title-text {
  color: var(--primary-main-color-light);
}

.about-us-section-title {
  padding-top: 40px;
  text-align: left;
}

.about-us-section-title span {
  text-transform: capitalize;
}

.about-us-text-wrapper {
  flex-shrink: 3;
}

.about-us-text {
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-size: 22px;
  line-height: 38px;
  color: var(--primary-main-color-dark);
}

.about-us-text-with-highlighted-text span {
  text-transform: capitalize;
  font-weight: 600;
}

.about-us-section-images-wrapper {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.about-us-img-wrapper,
.about-us-img {
  border-radius: 100%;
}

.star-1,
.star-2,
.star-3 {
  position: absolute;
}

.star-1 {
  top: 32px;
  right: -10px;
}

.star-2 {
  bottom: 58%;
  right: 14px;
}

.star-3 {
  left: 120px;
  top: 51%;
}

.visibility-star-wrapper {
  display: none;
}

.about-us-image-wrapper-img-position {
  width: 100%;
  justify-content: end;
  margin-top: 40px;
}

/* why-we-section */
.why-we-section {
  padding-top: 176px;
  padding-bottom: 96px;
  background: linear-gradient(181deg, rgba(43, 127, 255, 0.0) 44.74%, rgba(43, 127, 255, 0.00) 54.16%, rgba(43, 127, 255, 0.00) 75.66%), url("../images/why-we-background.svg");
}

.why-we-list-items {
  display: flex;
  gap: 56px;
  color: #000;
  text-align: center;
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-size: 18px;
  line-height: 1.3;
}

.why-we-list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  border-radius: 32px;
  background-color: var(--primary-main-color-lighter);
  padding: 24px 32px;
}

/* contacts-section */
.contacts-section {
  padding-top: 96px;
  padding-bottom: 94px;
}

.contacts-section-content-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.map-wrapper {
  border-radius: 32px;
}

.map-wrapper iframe {
  border-radius: 32px;
  max-width: 600px;
  height: 100%;
}

.contacts-section-form {
  text-align: center;
  font-family: var(--main-font);
  padding: 48px 56px;
  border-radius: 32px;
  background: url('../images/form-background.svg'), center/cover no-repeat, var(--primary-main-color-dark);
}

.contacts-section-form-title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  color: var(--primary-main-color-lighter);
  margin-bottom: 32px;
}

.contacts-section-form-input {
  padding: 18px 36px;
  width: 100%;
  background: transparent;
  border-radius: 32px;
  border: 2px solid var(--secondary-normal-color);
  margin-bottom: 16px;
  color: var(--primary-main-color-lighter);
  font-size: 13px;
  font-weight: var(--main-font-weight);
  line-height: normal;
  transition: background-color 0.2s linear;
}

.contacts-section-form-input::placeholder {
  color: var(--primary-main-color-lighter);
  font-size: 13px;
  font-weight: var(--main-font-weight);
  line-height: normal;
}

.contacts-section-form-input:hover,
.contacts-section-form-input:focus,
.contacts-section-form-input:focus {
  background-color: var(--secondary-normal-color);
}

.contacts-section-form-btn {
  margin-bottom: 8px;
}

.contacts-section-form-btn:hover {
  color: var(--primary-main-color-lighter);
  background-color: #205ab1;
}

.contacts-section-form-text {
  color: var(--secondary-normal-color);
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-size: 12px;
  line-height: 1.5;
}

.contacts-section-form-text-link {
  color: var(--secondary-normal-color);
  text-decoration: underline;
}

/* footer */
.footer {
  position: relative;
  padding-top: 56px;
  padding-bottom: 56px;
  background: url('../images/footer/background-patterns.svg'), center/cover no-repeat, #011C44;
}

.footer-content-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  display: inline-block;
}

.footer-nav-menu {
  display: flex;
  justify-content: space-between;
  width: 67%;
}

.footer-menu-list-item-link-color,
.footer-nav-menu-contacts-list-item-link,
.footer-privacy-policy-link {
  transition: color 0.2s linear;
}

.footer-nav-menu-list-item:hover
.footer-menu-list-item-link-color,
.footer-nav-menu-contacts-list-item:hover
.footer-nav-menu-contacts-list-item-link,
.footer-privacy-policy-link:hover {
  color: var(--primary-main-color-light);
}

.footer-nav-menu-list-item:not(:nth-last-of-type(1)),
.footer-nav-menu-contacts-list-item:not(:nth-last-of-type(1)) {
  margin-bottom: 16px;
}

.footer-nav-menu-social-contacts-list {
  display: flex;
  justify-content: space-between;
}

.footer-nav-menu-list,
.footer-nav-menu-contacts-list,
.footer-privacy-policy-link,
.footer-copyright-text {
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-size: 16px;
  line-height: normal;
}

.footer-copyright-text {
  font-size: 13px;
  color: var(--secondary-normal-color);
  margin-top: 16px;
}

.footer-menu-list-item-link-color,
.footer-nav-menu-contacts-list-item-link,
.footer-nav-menu-contacts-list-item-text,
.footer-privacy-policy-link {
  color: var(--primary-main-color-lighter);
}

.footer-contact-icon {
  fill: var(--primary-main-color-lighter);
}

.footer::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  background: url("../images/footer/image.png") top/cover no-repeat;
  width: 247px;
  height: 152px;
}

.footer-nav-menu-social-contacts-list-tablet {
  display: none;
}



@media (max-width: 1200px) {
  .star-3 {
    left: 58px
  }

  .map-wrapper iframe {
    max-width: 470px;
  }
}

@media (max-width: 1024px) {
  
  .footer-nav-menu-social-contacts-list-laptop {
    display: none;
  }

  .footer-nav-menu-social-contacts-list-tablet {
    display: flex;
    justify-content: flex-start;
  }

  .footer-nav-menu-social-contacts-list-item-tablet:not(:nth-last-of-type(1)) {
    margin-right: 24px;
  }

  .footer::after {
    display: none;
  }

  /* start burger menu */
  .logo-burger {
    display: block;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 24px;
    height: 20px;
    cursor: pointer;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    right: 0;
    position: absolute;
    height: 3px;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: var(--primary-main-color-lighter);
    border-radius: 2px;
  }

  .menu__icon span {
    width: 75%;
  }

  .menu__icon::before {
    top: 8px;
    width: 100%;
  }

  .menu__icon::after {
    bottom: 0;
    width: 50%;
  }

  .menu__icon._active span {
    transform: scale(0) translate(0, -50%);
    background: var(--primary-main-color-dark);
   }

  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
    background: var(--primary-main-color-dark);
  }

  .menu__icon._active::after {
    width: 100%;
    bottom: 45%;
    transform: rotate(45deg) translate(0px, 50%);
    background: var(--primary-main-color-dark);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--primary-main-color-lighter);
    padding-top: 78px;
    padding-left: 3%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }
  /* end burger menu */

  .header-nav-menu-list {
    gap: 0;
    font-size: 14px;
    flex-direction: column;
  }

  .header-nav-menu-list::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
  }

  .header-nav-menu-list-item {
    margin-bottom: 16px;
  }

  .header-nav-menu-contacts-list {
    margin-left: 0;
    padding-left: 0.8%;
  }

  .header-contacts-list-item:not(:nth-last-of-type(1)) {
    padding-right: 16px;
}

  .logo-burger {
    position: absolute;
    top: 16px;
    left: 4%;
  }
}

@media (max-width: 991px) {
  .hero-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .hero-section .content-wrapper {
    text-align: center;
    padding-top: 80px;
  }

  .hero-title span {
    font-size: 70px;
    line-height: 90px;
  }

  .hero-title span br {
    display: none;
  }

  .hero-text {
    padding-left: 0;  
  }

  .section-title {
    font-size: 50px;
    margin-bottom: 30px;
  }

  .about-us-text-wrapper {
    flex-shrink: 2;
  }

  .about-us-image-wrapper-img-position {
    width: auto;
  }

  .about-us-text {
    font-size: 20px;
    line-height: 1.7;
  }

  .about-us-img {
    width: 70%;
  }

  .why-we-section {
    padding-top: 130px;
  }

  .why-we-list-items {
    font-size: 14px;
    line-height: 1.4;
    gap: 32px;
  }

  .contacts-section-content-wrapper {
    justify-content: center;
    gap: 14px;
  }

  .map-wrapper iframe {
    max-width: 340px;
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
    background-position: 60% 87%;
  }
  
  .custom-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .lightbox .popup-form {
    padding: 48px 56px;
  }
  
  .lightbox .popup-form-title {
    width: 100%;
    font-size: 30px;
    margin-bottom: 18px;
  }

  .lightbox .popup-form-subtitle {
    font-size: 16px;
    margin-bottom: 22px;
  }

  .lightbox .popup-form-input {
    padding: 12px 14px;
    font-size: 12px;
  }

  .lightbox .popup-form-input::placeholder {
    font-size: 12px;
  }

  .lightbox .popup-form-btn {
    font-size: 12px;
    width: 100%;
  }

  .lightbox .popup-form-text {
    font-size: 10px;
    line-height: 1.4;
  }

  .about-us-section-images-wrapper {
    display: none;
  }

  .visibility-star-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .why-we-list-items {
    flex-direction: column;
    gap: 16px;
    font-size: 18px;
    line-height: 1.3; 
  }

  .why-we-list-item {
    flex-direction: column;
  }

  .contacts-section {
    position: relative;
    padding-bottom: 256px;
  }

  .map-wrapper {
    width: 100%;
    margin-right: 0;
    border-radius: 0;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .map-wrapper iframe {
    border: 0;
    max-width: 100%;
    width: 100%;
    height: 232px;
    border-radius: 0;
  }

  .footer-content-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .footer-nav-menu {
    flex-direction: column;
    width: 100%;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 42px;
  }

  .footer-nav-menu-contacts-list {
    display: none;
  }

  .footer-privacy-copyright-text-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
  }

  .footer-nav-menu-social-contacts-list-tablet {
    justify-content: center;
    order: 2;
    margin-top: 16px
  }

  .footer-nav-menu-social-contacts-list-item-tablet:not(:nth-last-of-type(1)) {
    margin-right: 20px;
  }

  .footer-privacy-policy-link {
    order: 1;
    display: flex;
    justify-content: center;
  }

  .footer-copyright-text {
    margin-top: 0;
    order: 3;
  }
}

@media (max-width: 480px) {
  .hero-section {
    background-size: 169% 112%;
    background-position: 41% 202%;
  }
  
  .hero-title {
    font-size: 12px;
  }

  .hero-title span {
    font-size: 54px;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 32px;
  }

  .btn {
    padding-right: 24px;
    padding-left: 24px;
  }

  .contacts-section-form-btn {
    padding-right: 20px;
    padding-left: 20px;
  }

  .request-call-btn {
    font-size: 16px;
  }

  .hero-text {
    font-size: 11px;
    margin-top: 4px;
  }

  .section-title {
    font-size: 32px;
  }

  .about-us-text {
    font-size: 18px;
  }

  .why-we-section {
    background-position: -105% 6%;
    padding-bottom: 40px;
  }

  .contacts-section {
    padding-top: 40px;
  }

  .footer {
    padding-top: 32px;
    padding-bottom: 66px;
  }
}

@media (max-width: 375px) {
  .hero-section {
    background-size: 210% 112%;
    background-position: 54% 202%;
  }

  .hero-title span {
    font-size: 44px;
  }

  .btn {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 16px;
  }

  .lightbox .popup-form {
    padding: 22px 12px;
  }

  .close-lightbox {
    width: 20px;
  }

  .lightbox .popup-form-title {
    font-size: 12px;
    margin-bottom: 14px;
  }

  .lightbox .popup-form-subtitle {
    font-size: 8px;
  }

  .lightbox .popup-form-input {
    font-size: 8px;
  }

  .lightbox .popup-form-input::placeholder {
    font-size: 8px;
  }

  .lightbox .popup-form-btn {
    font-size: 9px;
    padding: 10px 4px;
  }

  .lightbox .popup-form-text {
    font-size: 8px;
  }
  
  .lightbox .popup-button {
    width: 20px;
    top: 16px;
    right: 24px;
  }

  .why-we-section {
    background-position: -87% 9%;
}

  .contacts-section-form {
    padding: 22px 12px;
  }

  .contacts-section-form-title {
    font-size: 16px;
  }

  .contacts-section-form-input {
    padding: 14px 22px;
  }
}