.custom-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 0 100px;

  @media screen and (max-width: 1024px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media screen and (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.flex-container {
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* hidden scrollbar Chrome, Safari и Opera */
.popup-form::-webkit-scrollbar {
  display: none;
}

.menu-list {
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  line-height: normal;

  &__item-link {
    padding: 0 10px;
  }
}