:root {
  --main-font: "Roboto", sans-serif;
  --main-font-weight: 400;
  --secondary-font: "Play", sans-serif;
  --secondary-font-weight: 700;
  --primary-main-color-dark: #011C44;
  --primary-main-color-light: #2B7FFF;
  --primary-main-color-lighter: #fff; 
  --secondary-normal-color: #747272;
  --secondary-dark-color: #4a4a4a;
}