.btn {
  padding: 16px 32px;
  border-radius: 32px;
  background: var(--primary-main-color-light);
  color: var(--primary-main-color-lighter);
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 18px;
  line-height: normal;
  transition: all 0.2s linear;
}